body {
    background-color: beige;
}

.caja1 {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: moverCaja;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moverCaja {
    0% {
        transform: translateX(0px) translateY(0px);
        background-color: red;
    }

    25% {
        transform: translateX(200px) translateY(0px);
        background-color: blue;
    }

    50% {
        transform: translateX(200px) translateY(200px);
        background-color: green;
    }

    75% {
        transform: translateX(0px) translateY(200px);
        background-color: yellow;
    }

    100% {
        transform: translateX(0px) translateY(0px);
        background-color: rgb(238, 104, 9);
    }
}

.texto_animado {
    font-size: 15px;
    animation-name: cambiarEstilo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes cambiarEstilo {
    0% {
        font-size: 15px;
    }

    50% {
        font-size: 30px;
    }

    100% {
        font-size: 60px;
    }
}